span{
   
    cursor: pointer;
}
body{
    width: 600px;
   
    margin: 0 auto;
}
h1{
    text-align: center;
   font-size: 60px;
}
.input{
   width: 600px;
   height: 50px;
   font-size: 35px;
   text-align: center;
   background-color: rgba(0, 0, 0, 0.075);
   margin-bottom: 20px;
}
.btn1 {
    background-color: rgba(87, 207, 50, 0.418);
    font-size: 30px;
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    border-radius: 43%;
    margin-left: 40px;
}
.btn1:hover{
    background-color: rgb(57, 201, 14); 
}
.btn2 {
    margin-left: 100px;
    background-color: rgba(216, 57, 57, 0.329);
    font-size: 30px;
    padding: 10px 30px;
    color: white;
    border-radius: 43%;
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(201, 10, 10); 
}
.btn3 {
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 10px 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: 60px 180px;
}
li{
    font-size: 30px;
    border: solid 1px;
    padding: 8px 10px;
    width: 540px;
    border-color: black;

}